/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 * 
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	margin: 0 auto;
    padding-bottom:100px; /* Height of the footer element */
    width: 1200px;	
}

#footer {
	background:#ffab62;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

/*=================================================================*/
.fase{
    background-image: url("img/backgame.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 141px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-top: 25px;
    width: 250px;

}

.cadeado{
	display: block;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}

.gameLink{

}

#jogo{
	float: left;
    width: 100%;
}

#fases{
	height: 100px;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 1200px;
}

#testo{
	
}


	
.not-active {
   pointer-events: none;
   cursor: default;
}